{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Goods</h1>

    <table class="record_properties">
        <tbody>
            
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Issell</th>
                <td>{% if entity.issell == 1 %}  销售中 {% else %} 已下架 {% endif %}</td>
            </tr>
            <tr>
                <th>Demo</th>
                <td>{{ entity.demo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ibw_goods') }}">
            Back to the list
        </a>
        
      &nbsp;&nbsp;|
       <a href="{{ path('ibw_orders_new',{'good':entity.id}) }}">
            购买
        </a>

    </li>

</ul>
{% endblock %}
